.container{
    margin:50px 0;

}
.card{
    margin: 0 2% !important;
}

.infected{
    border-bottom: 10px solid rgba(5, 5, 158, 0.5);
}

.recovered{
    border-bottom: 10px solid rgba(9, 143, 9, 0.5);
}
.deaths{
    border-bottom: 10px solid rgba(177, 3, 3, 0.5);
}

@media only screen and (max-width: 770px) {
    .card {
      margin: 2% 0 !important;
    }
  }
